<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Karol Sadkowski</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <h1><a href="/">Karol Sadkowski</a></h1> <!-- Static title with link to the Home page -->
    <nav>
      <a href="/" class="{% if page.url == '/' %}active{% endif %}">About</a>
      <a href="/projects.html" class="{% if page.url == '/projects.html' %}active{% endif %}">Projects</a>
      <a href="/photos.html" class="{% if page.url == '/photos.html' %}active{% endif %}">Photos</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>&copy; 2025 Karol Sadkowski</p>
  </footer>
</body>
</html>
